.home {
  .site-header {
    @media (min-width: 768px) {
      margin-bottom: 25vh;
    }

    .site-title {
      display: none;
    }
  }

  .intro {
    @include open-sans();
    font-weight: 700;
    font-size: 80%;
    color: #3f51b5;
    text-transform: uppercase;
  }

  .huge {
    font-size: 28px;
    line-height: 1.25;
    padding: 0.5em 0;

    p {
      margin: 0;
    }

    @media (min-width: 768px) {
      font-size: 48px;
    }
  }

  .social-links {
    @include open-sans();
    font-weight: 700;
    font-size: 4vw;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        color: $cool-gray;
        transition: color 0.1s ease-in-out;
        -webkit-transition: color 0.1s ease-in-out;

        &:hover, &:active {
          border-bottom: none;

          &.instagram {
            color: $instagram-blue;
          }

          &.twitter {
            color: $twitter-blue;
          }

          &.spotify {
            color: $spotify-green;
          }

          &.dribbble {
            color: $dribbble-pink;
          }

          &.email {
            color: #645862;
          }

          &.resume {
            color: #d39f5b;
          }
        }
      }

      & + li {
        margin-left: 1em;

        &:before {
          color: $cool-gray;
          content: '/';
          left: -0.85em;
          position: absolute;
        }
      }
    }

    @media (min-width: 575px) {
      font-size: 19px;
    }
  }
}
