.home {
  .site-header {
    @media (min-width: 768px) {
      margin-bottom: 25vh;
    }
  }
  
  .huge {
    font-size: 28px;
    line-height: 1.25;
    padding: 0 0 1em 0;

    p {
      margin: 0;
    }

    @media (min-width: 768px) {
      font-size: 48px;
      padding: 0.1em 0;
    }
  }

  .social-links {
    @include old-standard;
    font-size: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        color: $cool-gray;
        @include transition(color 0.1s ease-in-out);

        &:hover, &:active {
          border-bottom: none;

          &.instagram {
            color: $instagram-blue;
          }

          &.twitter {
            color: $twitter-blue;
          }

          &.spotify {
            color: $spotify-green;
          }

          &.email {
            color: #645862;
          }

          &.resume {
            color: #d39f5b;
          }
        }
      }

      & + li {
        margin-left: 1em;

        &:before {
          color: $cool-gray;
          content: '/';
          left: -0.85em;
          position: absolute;
        }
      }
    }
  }
}
