.work {
  .work-list  {
    @include open-sans();
    padding: 0;
    list-style-type: none;

    & > li {
      margin-bottom: 60px;

      & > ul {
        @include open-sans();
        color: $cool-gray;
        font-weight: 700;
        font-size: 80%;
        list-style-type: none;
        padding-left: 0.0em;

        & > li {
          margin-top: 1em;
          text-transform: uppercase;

          &:before {
            display: inline-block;
            content: '–';
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}

.work-intro {
  margin-bottom: 60px;
}

.work-item {
  .work-media {
    .thumbnail {
      float: right;
      padding-right: 40px;
      width: percentage(2/3);

      a {
        border: none;
        display: block;

        &:after {
          background: transparent;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transition: background 0.2s ease-in-out;
          -webkit-transition: background 0.2s ease-in-out;
          width: 100%;
        }

        &:hover, &:focus, &:active {
          border: none;

          &:after {
            background: rgba($blue, 0.35);
          }
        }
      }

      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }

    .description {
      width: percentage(1/3);
      float: right;

      p {
        font-size: 18px;
      }
    }

    &:before, &:after {
      content: ' ';
      clear: both;
      display: block;
    }

    & + .work-media {
      padding-top: 120px;
    }

    &:nth-child(2n) {
      .thumbnail, .description {
        float: left;
      }

      .thumbnail {
        padding-left: 40px;
        padding-right: 0;
      }
    }

    @media (max-width: 699px) {
      .thumbnail, .description {
        float: none;
        padding: 0;
        width: 100%;
      }

      &:nth-child(2n) {
        .thumbnail, .description {
          float: none;
          padding: 0;
        }
      }
    }
  }
}
