body, html {
  @include vollkorn();
  background: $body-bg;
  font-size: 16px;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include open-sans();
  margin: 0;
}

h1 {
  @include open-sans();
  font-size: (40/16) * 1rem;
}

h2 {
  @include open-sans();
  font-size: (32/16) * 1rem;
}

h3 {
  font-size: (24/16) * 1rem;
}

h5 {
  @include open-sans();
  font-weight: 700;
  font-size: (14/18) * 1rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

a {
  border-bottom: solid 1px transparent;
  color: $cool-gray;
  text-decoration: none;
  transition: border-bottom 0.1s ease-out, color 0.1s ease-out; -webkit-transition: border-bottom 0.1s ease-out, color 0.1s ease-out;

  &:hover {
    color: #3f51b5;
    border-bottom: solid 1px #3f51b5;
  }
}

p {
  margin: 0 0 1.5em 0;
}
