$body-bg: #f5f5f5;
$text-color: #424242;
$cool-gray: #979797;
$blue: #6bc6d8;
$red: #d76a6a;
$green: #66de90;

$instagram-blue: #3f729b;
$twitter-blue: #55acee;
$spotify-green: #66de90;
$dribbble-pink: #ea4c89;
