body, html {
  background-color: $body-bg;
}

body.fixed-footer {
  @media (min-width: 768px) {
    // padding-bottom: 120px;
  }
}

body {
  min-height: 100vh;
}

#wrap {
  margin: 0 auto;
  max-width: 980px;
  width: 90%;
}
