.btn {
  background: tint($text-color, 75%);
  border: solid 1px transparent;
  color: $text-color;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 1em 2em;
  text-decoration: none;
  text-shadow: none;
  transition: background 0.1s ease-in-out, border 0.1s ease-in-out; -webkit-transition: background 0.1s ease-in-out, border 0.1s ease-in-out;

  &:hover, &:focus, &:active {
    border-color: tint($text-color, 50%);
    outline: none;
  }

  &.blue {
    background: $blue;
    color: white;

    &:hover, &:focus, &:active {
      background: shade($blue, 10%);
      border-color: shade($blue, 20%);
      cursor: pointer;
    }
  }

  &.green {
    background: shade($green, 10%);
    color: white;

    &:hover, &:focus, &:active {
      background: shade($green, 15%);
      border-color: shade($green, 20%);
      cursor: pointer;
    }
  }
}
