.modal.colophon {
  .modal-header {
    float: right;
    z-index: 1;
  }

  h3 {
    @include vollkorn();
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  h4 {
    @include vollkorn();
    font-size: 1rem;
  }

  p {
    @include open-sans();
    font-size: 1rem;
  }

  @media (min-width: 700px) {
    p {
      font-size: 0.75rem;
    }
  }
}
