footer.site-footer {
  background: $body-bg;
  font-size: 18px;
  height: 120px;
  line-height: 120px;
  text-align: center;

  .colophon-link {
    background: $text-color;
    border-radius: 24px;
    color: $body-bg;
    display: block;
    font-size: 28px;
    height: 48px;
    line-height: 52px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 36px;
    width: 48px;
  }

  @media (min-width: 768px) {

  }

  @media (min-width: 1089px) {
    
  }
}

.fixed-footer {
  footer.site-footer {
    bottom: 0;
    left: 0;
    padding: 0 calc(50% - 480px);
    position: fixed;
    width: 100%;

    .colophon-link {
      right: calc(50% - 480px);
    }
  }
}
