.site-header {
  padding: 36px 0;
  z-index: 20;

  .site-title {
    font-size: 28px;
    margin: 0 auto 1em auto;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 18px;
      text-align: left;

      & > a {
        color: #3f51b5;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          border-color: transparent;
        }
      }
    }
  }

  .nav {
    text-align: center;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: -0.25em;

        a {
          @include open-sans();
          color: $text-color;
          display: inline-block;
          font-size: 20px;
          padding: 0 0.5em;
          text-decoration: none;

          &:hover, &:focus {
            background: rgba(white, 0.25);
            border-bottom: none;
            outline: none;
          }
        }

        &.active {
          a {
            color: $blue;
          }

          &:after {
            background: $blue;
            bottom: 0px;
            content: '';
            display: block;
            height: 2px;
            left: 7.5%;
            position: absolute;
            width: 85%;
          }
        }
      }
    }

    @media (min-width: 768px) {
      float: right;

      ul {
        li {
          a {
            padding: 0 1em;
          }
        }
      }
    }
  }
}
