.lazy-image {
  .loading-message {
    opacity: 1;
  }

  img {
    opacity: 0;
  }

  &.loaded {
    .loading-message {
      opacity: 0;
      transition: opacity 0.2s ease-out;
      -webkit-transition: opacity 0.2s ease-out;
    }

    img {
      opacity: 1;
      transition: opacity 0.2s ease-in;
      -webkit-transition: opacity 0.2s ease-in;
    }
  }
}
