.lightbox {
  background: rgba(black, 0.85);
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;

  .lightbox-content {
    padding: 0 5vw 5vh 5vw;

    img {
      display: block;
      margin: 0 auto;
      max-width: 1280px;
      width: 100%;
    }

    .lazy-image .loading-message {
      color: white;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
      padding: 3em 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }

  .lightbox-header {
    height: 10vh;
    padding: calc(5vh - 12px) 5vw;
    position: relative;

    .title {
      color: white;
      float: left;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      text-shadow: 0px 1px 4px black;
    }

    .close {
      background: transparent;
      border: none;
      color: white;
      cursor: pointer;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
      float: right;
      height: 24px;
    }
  }

  &.lightbox-enter {
    // background: rgba(black, 0);
    opacity: 0;
    // overflow-y: hidden;
  }

  &.lightbox-enter.lightbox-enter-active {
    // background: rgba(black, 0.85);
    opacity: 1;
    transition: opacity 200ms ease-in; -webkit-transition: opacity 200ms ease-in;
  }

  &.lightbox-leave {
    opacity: 1;
    overflow-y: hidden;
  }

  &.lightbox-leave.lightbox-leave-active {
    opacity: 0;
    transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;
  }
}

body.has-lightbox {
  overflow-y: hidden;
}
